<%= form_with model:[@post, Comment.new] do |f| %>

<div class="form-group">
  <div class="field">
    <h4>
      <i class="fa fa-paper-plane-o"></i>
      <%= f.label :body, 'Leave a Comment' %>
     </h4>

      <%= f.text_area :body, id: :comment_body, class: "form-control"%>
  </div>
</div>
<br>

<div class="form-group">
  <div class="actions">
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  </div>
</div>

<% end %>
