<div class="modal-header">
  <div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title" id="exampleModalLabel">Already Subscribed</h2>
  </div>
</div>
<div class="modal-body" style="text-align:center">
  You already subscribed for the subject.
</div>
