  <!-- /well -->
<div class="well">
  <h4>
    <i class="fa fa-list-alt">
    </i>
    Related Posts:
  </h4>
  <ul>
    <li><a href="">Mastering Data Science Using Jupyter Notebooks</a></li>
    <li><a href="">Machine Learnign And Aplications in Real Life Problems</a></li>
    <li><a href="">Genetic Algorithms Using Python</a></li>
    <li><a href="">Blockchain Tecnology: What You Need To Know</a></li>
    <li><a href="">Best Programming Languages of 2018</a></li>
    <li><a href="">The Importance of Algorithm Analysis</a></li>
  </ul>
</div>
