<div class="modal-header">
  <div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title" id="exampleModalLabel">Successfully subscribed</h2>
  </div>
</div>
<div class="modal-body" style="text-align:center">
  You will be notified when new posts with this subject appear on our website :)
</div>
