<%= link_to subscribe_path(:tag_id => tag.id) , remote: true, data: { target: '#modal-window', toggle: 'modal' }, class: "#{tag.name}_tag" do %>
  <span class="label label-info"><%=tag.name %></span>
<% end %>
