<div class="row">
  <div class="col-lg-8">

    <!-- the actual blog post: title/author/date/content -->
    <h1>
      <strong>
        <%= @post.title %>
      </strong>
    </h1>
    <p class="lead">
      <i class="fa fa-user"></i>
      by
      <a href="">Anonymous</a>
    </p>
    <hr>
    <p>
      <i class="fa fa-calendar"></i>
      Posted on January 16, 2019 at 9:00 P</p>
    <p>
      <i class="fa fa-tags"></i>
      Tags:
      <a href="">
        <span class="badge badge-info">Bootstrap</span></a>
      <a href="">
        <span class="badge badge-info">Web</span></a>
      <a href="">
        <span class="badge badge-info">CSS</span></a>
      <a href="">
        <span class="badge badge-info">HTML</span></a>
    </p>

    <p class="lead">
      <%= @post.body %>
    </p>
    <br/>

    <!-- Helyezd el ezt a címkét az utolsó +1 gomb címke mögé. -->

    <!-- the comment box -->
    <div class="well">
      <h4>
        <i class="fa fa-paper-plane-o"></i>
        Leave a Comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-reply"></i>
          Submit</button>
      </form>
    </div>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <hr>

    <!-- the comments -->
    <div class="comments">
      <h3>
        <i class="fa fa-comment"></i>
        User One says:
        <small>
          9:41 PM on January 16, 2019</small>
      </h3>
      <p>Excellent post! Thank You the great article, it was useful!</p>

      <h3>
        <i class="fa fa-comment"></i>
        User Two says:
        <small>
          9:47 PM on January 16, 2019</small>
      </h3>
      <p>Excellent post! Thank You the great article, it was useful!</p>
    </div>

  </div>

  <div class="col-lg-4">
    <%= render "shared/side_content" %>

    <%= render "shared/side_related_posts" %>

  </div>

</div>
